{# src/ForaSoft/TestsBundle/Resources/views/ListTests.index.html.twig #}
{% extends 'ForaSoftTestsBundle::layout.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/test-card.css') }}" rel="stylesheet"> 
{% endblock %}
{% block content %}
    <div class="row test-card">
        <div class="thumbnail">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название теста</th>
                        <th>Результат</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ result.test.title }}</td>
                            <td>{{ result.countCorrectAnswer }} из {{ result.test.questions|length }}</td>
                            <td>{{ result.date|date("m/d/Y H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}