<div class="{% if result and answer.isCorrect %} has-success has-feedback {% elseif not answer.isCorrect and result %} has-error has-feedback {% endif %}">
    <div class="{{ quest.type }}">
        <label>
            <input name="quest[{{ quest.id }}][]" type="{{ quest.type }}" value="{{ answer.id }}" 
                {% if result %} 
                    checked 
                    {% if result %} 
                        class="answer-correct" 
                    {% else %} 
                        class="answer-uncorrect" 
                    {% endif %} 
                {% endif %}
                > 
                {{ answer.text }}
        </label>
    </div>
</div>
