{# src/ForaSoft/TestsBundle/Resources/views/ListTests.index.html.twig #}
{% extends 'ForaSoftTestsBundle::layout.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/test.css') }}" rel="stylesheet"> 
{% endblock %}

{% block content %}
    <div class="test row">
        <div class="thumbnail">
            <form role="form">
                <div class="form-group">
                    <label for="quest1">Вопрос 1</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                             Ответ 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                             Ответ 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                             Ответ 3
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                             Ответ 4
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quest2">Вопрос 2</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Ответ 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                                Ответ 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
                                Ответ 3
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
                                Ответ 4
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quest3">Вопрос 3</label>
                    <textarea class="form-control" rows="3" id="quest3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}