<div class="form-group">
    <label for="quest{{ index }}">{{ quest.text }}</label>
    {% if quest.type == 'textarea' %}
    <textarea  rows="3" name="quest[{{ quest.id }}][0]"  class="form-control"></textarea>
    {% else %}
        {% for answer in quest.getAnswers() %}
            {% include 'ForaSoftTestsBundle:Test:answer.html.twig' with {'answer': answer, 'quest': quest } only %}
        {% endfor %}
    {% endif %}    
</div>