<div class="form-group {% if quest.type == 'textarea' and results[0] == false %} has-error has-feedback {% elseif quest.type == 'textarea' %} has-success has-feedback {% endif %}">
    <label for="quest{{ index }}">{{ quest.text }}</label>
    {% if quest.type == 'textarea' %}
    <textarea  rows="3" name="quest[{{ quest.id }}][0]" 
        {% if results[0] %} 
            class="form-control answer-correct" 
        {% else %} 
            class="form-control answer-uncorrect" 
        {% endif %} 
    >
    {{ results[1] }}
    </textarea>
    {% else %}
        {% for answer in quest.getAnswers() %}
            {% include 'ForaSoftTestsBundle:Test:answer_result.html.twig' with {'answer': answer, 'quest': quest, 'result': results[answer.id] } only %}
        {% endfor %}
    {% endif %}    
</div>