{# src/ForaSoft/TestsBundle/Resources/views/ListTests.index.html.twig #}
{% extends 'ForaSoftTestsBundle::layout.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/test.css') }}" rel="stylesheet"> 
{% endblock %}

{% block content %}
    <div class="test row">
        <div class="thumbnail">
            Корректных ответов {{ countCorrectAnswer }} из {{ numberQuests }}
            <form role="form" action="{{ path('ForaSoftTests_test_results',{'id': test.id}) }}" method="post">
                {% for quest in test.getQuestions() %}
                        {% include 'ForaSoftTestsBundle:Test:quest_result.html.twig' with {'quest': quest, 'index': loop.index, 'results': results[quest.id] } only %} 
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
