{# src/ForaSoft/TestsBundle/Resources/views/ListTests.index.html.twig #}
{% extends 'ForaSoftTestsBundle::layout.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/test.css') }}" rel="stylesheet"> 
{% endblock %}

{% block content %}
    <div class="test row">
        <div class="thumbnail">
            <form role="form" action="{{ path('ForaSoftTests_test_results',{'id': test.id}) }}" method="post">
                {% for quest in test.getQuestions() %}
                        {% include 'ForaSoftTestsBundle:Test:quest.html.twig' with {'quest': quest, 'index': loop.index } only %} 
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
