<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tests - Fora Soft{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}
    <div class="header navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Тесты</a>
            {% if user is defined and not user is null %}
            <ul class="navbar-nav nav">     
                <li><a href="{{ path('ForaSoftTests_results') }}">Мои результаты</a></li>
                <li><a href="#">{{ user.username }}</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav nav">
                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="content">
        {% block content %}
           
        {% endblock %}
    </div>
    <div class="footer">
        <div class="container">
           <div class="copyrate">Slapoguzov Aleksandr for Fora Soft @ 2016</div>
        </div> 
    </div>
    {% endblock %}
</body>
{% block sripts_after_body %}{% endblock %}
</html>
