{# src/ForaSoft/TestsBundle/Resources/views/ListTests.index.html.twig #}
{% extends 'ForaSoftTestsBundle::layout.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/test-card.css') }}" rel="stylesheet"> 
{% endblock %}
{% block content %}
    {% for test in tests %}
    <div class="row test-card">
        <div class="thumbnail">
                <img src="{{ test.image }}" alt="">
                <div class="caption">
                    <h3>{{ test.title }}</h3>
                    <p>{{ test.description }}</p>
                    <div class="test-card-bottom"><a href="/test/{{ test.id }}" class="btn btn-primary" role="button">Пройти</a></div>
                </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}