body {
    background: #e7e7e7;
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    max-width: 730px;
  }
}

.header { }

.content {
    margin-top: 65px;
}

.footer {
    padding: 7px 0px;
}

.copyrate {
    text-align: center;
}

.login-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}