{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="login-form">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" class="form-control" placeholder="Login" required="" autofocus="" name="_username">
            <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required="" name="_password">
            <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
            </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">{{ 'security.login.submit'|trans }}</button>
    </form>
</div>
{% endblock fos_user_content %}
